<div>
  <h1>Pipes</h1>
  <p>{{sampleTxt}}</p>
  <p>{{sampleTxt | uppercase}}</p>
  <p>{{sampleTxt | lowercase}}</p>

  <hr>
  <p>{{today}}</p>
  <p>{{today | date }}</p>
  <p>{{today | date: 'dd/MMMM/yyyy' }}</p>
  <p>{{today | date: 'MM-dd-yyyy hh:mm:ss a' }}</p>

  <hr>
  <p>{{dummyTxt}}</p>
  <p>{{dummyTxt | ellipsis }}</p>
  <p>{{dummyTxt | ellipsis: 20 }}</p>
  <p>{{dummyTxt | ellipsis: 80 }}</p>
  <hr>
  <pre>
    2 Types of Pipes 
    ---------------
      1. Pure Pipes 
      2. Impure Pipes 
  </pre>


</div>